body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}


@media screen and (min-width: 769px) {
    div.header {
        background-color: #f0f0f0;
        color: #fff;
        height: 260px;
    }
}
@media screen and (max-width: 768px) {
    div.header {
        background-color: #f0f0f0;
        color: #fff;
        height: 180px;
    }
}
 
@media screen and (max-width: 480px) {
    div.header {
        background-color: #f0f0f0;
        color: #fff;
        height: 60px;
    }
}


img.header-logo {
    margin: auto;
  display: block;
  width: 40%;
}

.main {
  padding: 50px 40px;
}

